<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sneakers seekers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  </head>

    <body>
        <div class="container-fluid bg-primary">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{ url_for('static', filename='img/b.png')}}" style="height: 100px;"></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="{{url_for('index')}}">Inicio
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{{url_for('productos')}}">Productos</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Marcas</a>
                          </li>
                           <!--<li class="nav-item">
                            <a class="nav-link" href="#">Sobre nosotros</a>
                          </li>-->
                          <li class="nav-item">
                            <a class="nav-link" href="{{url_for('contacto')}}">Contacto</a>
                          </li>
                          <!--
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </li>
                        -->
                        </ul>
                        <form class="d-flex">
                          <input class="form-control me-sm-2" type="search" placeholder="Busca algo">
                          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>

        <div class="container px-4 px-lg-5 my-5">
            <p class="lead fw-normal text-50 text-center pb-5">
                ¡Bienvenidos a nuestra tienda de sneakers! Aquí encontrarás una amplia selección de zapatillas deportivas y ropa deportiva de las marcas más populares y reconocidas en el mercado. Algunas de las marcas que ofrecemos son:    
            </p>
            <p class="lead fw-normal text-50 text-center pb-1">
                Algunos de los productos que ofrece esta tienda de sneakers son:
            </p>
            <ul class="list-group">
                <li class="list-group-item">
                    Nike: Como una de las marcas más grandes en la industria de las zapatillas, Nike es conocida por su amplia variedad de modelos para diferentes deportes, incluyendo baloncesto, fútbol, correr y más. Nike también es famosa por sus colaboraciones con diseñadores y celebridades, que han dado lugar a ediciones limitadas altamente valoradas por los coleccionistas.
                    <div class="position-relative py-5 ">
                        <img src="{{ url_for('static', filename='img/luno.jpg')}}" class="position-absolute top-50 start-50 translate-middle" style="height: 50px;">
                    </div>
                </li>
                <li class="list-group-item">
                    Adidas: Otra marca líder en la industria de las zapatillas, Adidas es conocida por sus diseños innovadores y tecnologías de vanguardia. Además de sus modelos clásicos, como las zapatillas Superstar y Stan Smith, Adidas también ofrece zapatillas para diferentes deportes y colaboraciones con diseñadores y artistas
                    <div class="position-relative py-5 ">
                        <img src="{{ url_for('static', filename='img/ldos.png')}}" class="position-absolute top-50 start-50 translate-middle" style="height: 50px;">
                    </div>
                </li>
                <li class="list-group-item">
                    Puma: Con una larga trayectoria en la fabricación de zapatillas deportivas, Puma es una marca conocida por su estilo atrevido y llamativo. Ofrecemos una amplia variedad de zapatillas de Puma, incluyendo modelos clásicos como las Suede y las Roma, así como modelos modernos como las zapatillas RS-X.
                    <div class="position-relative py-5 ">
                        <img src="{{ url_for('static', filename='img/ltres.png')}}" class="position-absolute top-50 start-50 translate-middle" style="height: 50px;">
                    </div>
                </li>
                <li class="list-group-item">
                    Reebok: Otra marca con una larga historia en la fabricación de zapatillas deportivas, Reebok es conocida por su estilo retro y su dedicación a la tecnología de vanguardia. Ofrecemos una selección de zapatillas Reebok para diferentes deportes, así como modelos clásicos como las zapatillas Classic.
                    <div class="position-relative py-5 ">
                        <img src="{{ url_for('static', filename='img/lcuatro.png')}}" class="position-absolute top-50 start-50 translate-middle" style="height: 50px;">
                    </div>
                </li>
                <li class="list-group-item">
                    Converse: Con su icónico diseño de lona y suela de goma, las zapatillas Converse han sido un favorito entre los amantes de la moda y la cultura pop durante décadas. Ofrecemos una amplia selección de zapatillas Converse en una variedad de colores y estilos, incluyendo las zapatillas Chuck Taylor All-Star y One Star.
                    <div class="position-relative py-5 ">
                        <img src="{{ url_for('static', filename='img/lcinco.png')}}" class="position-absolute top-50 start-50 translate-middle" style="height: 50px;">
                    </div>
                </li>
            </ul>  
            <p class="lead fw-normal text-50 text-center"></p>
            <p class="lead fw-normal text-50 text-center">
                Estas son solo algunas de las marcas que ofrecemos en nuestra tienda de sneakers. También ofrecemos una variedad de modelos de otras marcas populares, así como ediciones limitadas y colaboraciones especiales. ¡Ven a visitarnos y encuentra el par de zapatillas perfecto para ti!
            </p> 
        </div>
        <div class="position-relative py-5 ">
            <img src="{{ url_for('static', filename='img/ballin.jpg')}}" class="position-absolute top-50 start-50 translate-middle" style="height: 100px;">
        </div>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SneakersSeekers 2023</p></div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>